/* footer  */

.footer {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: grey;
    text-align: center;
    height: 40px;
    padding: 5px;
}
.footer h2 {
    color: white;
    margin: 0;
    padding: 0;
}
.footer p {
    padding: 0;
    margin-bottom: 20px;
    height: 100%;
    margin: 0px;
   
}

