/*nav style*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #565673;;
    height: 60px;
    padding: 0px 80px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-brand {
    color: white;
}
.menu .menu-btn {
    
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
}
.menu .menu-btn:hover {
    background-color: grey;
}